*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "ChelseaMarket-Regular";
    src: url(../fonts/ChelseaMarket-Regular.ttf);
}

@font-face {
    font-family: "FredokaVariableFont_wdth,wght";
    src: url(../fonts/Fredoka-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Pacifico-Regular";
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: "PressStart2P-Regular";
    src: url(../fonts/PressStart2P-Regular.ttf);
}

h1 {
    font-family:"PressStart2P-Regular", "sans-serif";
    font-size: 20px;
    background-color: rgb(116, 255, 47);
    text-align: center;
    line-height: 1.5em;
    padding: 10px;
}

p {
    font-family: "Pacifico-Regular", "serif";
    font-size: 16px;
}

em {
    text-shadow: 1px 1px 1px red;
}

strong {
    font-family: "ChelseaMarket-Regular", "sans-serif";
    font-size: 10px;
}

a {
    font-family: "FredokaVariableFont_wdth,wght", "sans-serif";
    font-size: 12px;
    color: black;
    text-decoration: none;
}

