* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * Display Grid arbeitet auch wie vorhin ,mit solchen Einheiten bzw. Units => px, vw, vh und % => fr ==> fration, was ist überhaupt fraction? */
/* 1 Anteil am noch verfügbaren Platz im Grid-Container */

body {
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 90vw 10vw;
  grid-template-rows: 50px 1fr 80px;
  /* ! V1 */
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}

/* * grid-area wird immer im Kindelement Block geschrieben und hat immer eine direkte bzw. zu grid-template-area */
/* * Für grid-area kann selber Namen aussuchen */

header {
  background-color: peru;
  grid-area: header;
}

main {
  background-color: limegreen;
  grid-area: main;
  overflow: auto;
}

aside {
  background-color: brown;
  grid-area: aside;
}
footer {
  background-color: blueviolet;
  grid-area: footer;
}

/* * Elternelement d. h. dieser bekommt von uns display grid */
section {
  display: grid;
  /* * Für die Spalten */
  grid-template-columns: 200px 200px 1fr;
  /* * Für die Zeilen */
  grid-template-rows: 200px 30vh 200px 300px 100px;
  gap: 20px;
}

section > * {
  border: 1px solid red;
}

/* ! Achtung, bitte die Kindelemente dürfen keine feste Höhe und Breite von uns bekommen */
/* section div {
  width: 200px;
  height: 200px;
} */

/* ! V2 */

.box1 {
  background-color: crimson;
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; */
  /* ? SHORTCUT */
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.box2 {
  background-color: blue;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.box3 {
  background-color: yellow;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.box4 {
  background-color: salmon;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.box5 {
  background-color: aqua;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.box6 {
  background-color: tomato;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.box7 {
  background-color: purple;
  grid-column: 1 / 4;
  grid-row: 5 / 6;
}

/* ! display grid mit template-areas */

article {
  display: grid;
  /* * grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-template-areas:
    "Batman Batman Aquaman Aquaman"
    "Deadpool Superman Ironman Ironman"
    "Hulk Thor Thor Thor"
    "Hulk Superwoman Superwoman Superwoman";
  gap: 30px;
  margin: 30px;
}

.container1 {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: Batman;
}

.container2 {
  grid-area: Aquaman;
  background-color: aqua;
}

.container3 {
  grid-area: Deadpool;
  background-color: red;
}

.container4 {
  grid-area: Superman;
  background-color: black;
  color: white;
}

.container5 {
  background-color: chocolate;
  grid-area: Ironman;
  display: grid;
  justify-items: center;
  align-items: center;
  /* ? SHORTCUT */
  /* ? justify-items align-items */
  place-items: center center;
}

.container6 {
  grid-area: Hulk;
  background-color: darkgreen;
}

.container7 {
  background-color: aquamarine;
  grid-area: Thor;
}

.container8 {
  grid-area: Superwoman;
  background-color: deeppink;
}
