* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  border: 20px solid aqua;
  padding: 20px 40px;
  margin-bottom: 30px;
}

nav section a {
  padding: 15px;
  color: black;
}

h2,
h3 {
  color: deeppink;
  font-size: 30px;
}

h1 {
  margin-bottom: 20px;
  letter-spacing: 5px;
}

h2 {
  margin-left: 20px;
}

button {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

main {
  margin: 0 40px;
}

/* # display: flex */

nav {
  /* ? Das Logo und die LInks sollen nebeneinander stehen */
  display: flex; /* setzt den container in einen flexiblen Zustand*/
  align-items: center; /* Zentriert flex-elemente vertikal*/
  justify-content: space-between; /* verfügbarer Platz wird gleichmäßig zwischen den flex-elementen verteilt*/

  /* justify-content: space-between; verfügbarer Platz wird gleichmäßig außerhalb der flex-elementen verteilt*/

  /* justify-content: flex-start; bringt alle flex-elemente an den Startpunkt (achtet auf die Hauptachse) */

  /* justify-content: flex-end; bringt alle flex-elemente an den Endpunkt (achtet auf die Hauptachse) */
}

/* # align-items */

.flex-item__list {
  display: flex;
  padding: 10px;
  margin: 5px 0;
  gap: 15px; /* Ggap setzt freien space zwischen allen Elementen, in diesem Fall geflexte Elemente */
  border: 3px solid deeppink;

  /*flex-direction: : row;
  column-gap: 5rem; */

  /*flex-direction: : column;
  row-gap: 5rem; */

  /* gab: 5rem 10 rem; */
}

.graffiti {
  display: flex;
  align-items: center; /* Wir zentrieren vertikal in der Mitte des containers */
  margin-bottom: 30px;
}

/* # flex-direction */
/* !Achtung! flex-direction dreht unsere Achsen */

.kategorie {
  display: flex;
  justify-content: center;
  /* flex-direction: row; ist der initial-Wert */
  flex-direction: row-reverse;
  /* flex-direction: column;
  flex-direction: column-reverse; */
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

.kategorie a {
  color: blueviolet;
  padding: 10px;
}

/* # flex-wrap */

.box {
  row-gap: 20px;
  column-gap: 30px;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* es wechselt automatisch die directions, wie es nötig ist, dass kein vertical scroll entsteht */
  flex-wrap: wrap;
}

.box article {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgb(239, 184, 239);
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  min-height: 30vh;
  width: 350px;
}

/* # order */

.box article:nth-child(1) {
  order: 3;
  background-color: yellow;
}

.box article:nth-child(2) {
  order: 2;
  background-color: blue;
}

.box article:nth-child(3) {
  background-color: peachpuff;
}
