* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway-Italic-VariableFont_wght";
  src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Raleway-VariableFont_wght";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Raleway-VariableFont_wght", "sans-serif";
  font-size: 60px;
  font-weight: 300;
  color: white;
  margin-bottom: 30px;
}

h3 {
  font-family: "Raleway-VariableFont_wght", "sans-serif";
  font-size: 30px;
  font-weight: 300;
  color: black;
  margin-bottom: 30px;
}

p {
  font-family: "Raleway-VariableFont_wght", "sans-serif";
  font-size: 14px;
  font-weight: 300;
  color: #8c979e;
  margin-bottom: 30px;
  line-height: 2em;
}

li {
  list-style: none;
}

/* * ------------------ Header ------------------ */

header {
  font-family: "Raleway-VariableFont_wght", "sans-serif";
  font-weight: 500;
}

header nav {
  height: 76px;
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin: 20px;
}

header ul li a {
  color: #333;
  font-size: 12px;
}

header ul li a:hover {
  color: #337ab7;
}

.logo {
  color: #666;
  font-size: 20px;
}

.logo:hover {
  color: #333;
}

/* * ------------------ Section Hero ------------------ */

.section__hero {
  background-image: url("../img/wave.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 798px;
}

.section__hero p,
.section__parallax p {
  color: white;
  margin-bottom: 30px;
}

button {
  font-family: "Raleway-VariableFont_wght", "sans-serif";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px auto;
  color: white;
  width: 200px;
  height: 54px;
  background-color: #745cf9;
  border: 2px solid #745cf9;
  cursor: pointer;
}

button:hover {
  background-color: #4c38bd;
  border: 2px solid #4c38bd;
  transition: 0.4s ease;
}

.downloadNow {
  background-color: transparent;
  border: 2px solid white;
  margin-left: 5px;
}

.downloadNow:hover {
  background-color: white;
  border: 2px solid white;
  transition: 0.4s ease;
  color: black;
}

/* * ------------------ Articles ------------------ */

main article {
  height: 789px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

main img {
  max-width: 660px;
  height: auto;
}

main article div:last-of-type {
  max-width: 360px;
}

.article__portfolio img,
.article__seo div:last-of-type {
  margin-left: 8%;
}

.article__portfolio {
  flex-direction: row-reverse;
  background-color: #f5f5f5;
}

/* * ------------------ Section Parallax ------------------ */

.section__parallax {
  height: 438px;
  background-image: url("../img/parallax.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.section__parallax p,
.section__quote p {
  max-width: 900px;
}

/* * ------------------ Section Options ------------------ */

.section__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px 0 100px;
}

.section__option div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  text-align: center;
}

.section__option img {
  margin-top: 25px;
  max-width: 100%;
}

/* * ------------------ Section Gallery ------------------ */

.section__gallery {
  background-color: black;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section__gallery h3,
.section__gallery p,
.section__quote h3,
.section__quote p {
  color: white;
}

.divGalleryImg {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  row-gap: 100px;
  padding-bottom: 30px;
}

.divGalleryImg img {
  width: 269vw;
  height: auto;
  max-width: 25%;
  flex-grow: 1;
}

/* * ------------------ Section Quote ------------------ */

.section__quote {
  background-image: url("../img/wave.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 466px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.quoteName {
  padding: 20px;
  font-weight: 700;
}

/* * ------------------ Section Quote ------------------ */

.section__clients {
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clients_logos ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
}

.clients_logos a img {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.clients_logos a img:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* * ------------------ Section Quote ------------------ */

.section__cta {
  background-color: #f5f5f5;
  height: 246px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__cta h3 {
  margin: 0 7rem;
}

.section__cta a {
  margin-right: 6rem;
}

/* * ------------------ Footer ------------------ */

footer p {
  color: white;
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  padding-left: 10%;
  margin: 0;
}

footer a {
  color: #f5f5f5;
  font-weight: 700;
  margin: 0 0.2rem;
}
