* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 5vh 10vw;
  /* margin: 0 auto */
}

/* ! rgba => Achtung der Alphawer sollte nur mit Punkt "." geschrieben werden, sobald man nicht mit ganzen Zahlen arbeitet */

/* ! hexcode => Die letzten zwei Zahlen können auch als Alpha bzw. Opacity verwendet werden */

fieldset {
  border: 2px solid black;
  background-color: rgba(62, 153, 185, 0.34);
  padding: 20px 30px;
  max-width: 550px;
}

legend {
  font-size: 3rem;
}

section {
  margin: 20px 0;
}

h3 {
  margin-top: 5px;
}

/* Wir haben drei Möglichkeiten, das iput Element zu selektieren */
/* + V1 */

input {
  padding: 5px 20px;
  margin: 5px 10px;
  border: none;
  border-radius: 10px;
}

/* + V2 über id oder class */

#text,
#number,
#telefon,
#mail,
#password {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/* + V3 über typ, die Schreibweise => eckige Klammer dann type als keyword und dann  je nachdem was für ein type z. B. range. password, email … */

input[type="range"] {
  cursor: pointer;
  margin-top: 30px;
  width: 200px;
}

input[type="button"] {
  border: 2px solid red;
  border: none;
  background: darkgreen;
  color: white;
  padding: 1rem 2rem;
}

textarea {
  background: url("../img/neon_macbook.jpg") center/contain no-repeat;
  /* Entweder alles direkt in einer Zeile und dabei mit background arbeiten oder man kann die drei Eigenschafften einfach nacheinander schreiben */
  /* background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
  width: 100%;
  background-color: white;
  padding: 5px;
}

input[type="submit"] {
  border: none;
  padding: 1rem 3rem;
  background-color: deeppink;
  color: white;
}
