* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway-Italic-VariableFont_wght";
  src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Raleway-VariableFont_wght";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  font-family: "Raleway-VariableFont_wght", "sans-serif";
  font-weight: 400;
}

header nav {
  height: 76px;
  padding: 30px 30px 30px 50px;
  border-bottom: 1px solid #c1c1c1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin: 20px;
}

header ul li a {
  color: #333;
  font-size: 12px;
}

header ul li a:hover {
  color: #337ab7;
}

.logo {
  color: #666;
  font-size: 20px;
}

.logo:hover {
  color: #333;
}
